<ul>
 <% @students.each do | student | %>
 <li> <p>First name: <%= student.first_name %></p>
 <p> Email: <%= student.email %></p>
   <% if student.verified %>
     <p> Verified: <%= student.verified %></p>
     <p> Phone number: <%= student.phone_number %></p>
    <%= link_to "call", :controller => "home", :action => "call" %>
   <% end %>
   <hr>
 </li>
 <% end %>
</ul>

